.content-web{
	@include make-xs-column(12);
	@include make-sm-column(12);
	
	z-index: 3;
	background-color: rgba($second-color,.8);

	float: left;
	padding-right: 0;
	section {
		@include make-xs-column-offset(2);
		@include make-xs-column(10);
		@include make-sm-column-offset(1);
		@include make-sm-column(10);
		width: 100%;
		padding-right: 0;
		padding-left: 30px;
		margin: 0;
	}
	
	.profile{
		img{
			width: 140px;
			float: left;
		}

		h2{
			font-size: 15px;
			font-weight: bold;
		}
	}

	.education {


	}

}