.education {
	.wrapper-web {
		width: 100%!important;
		margin:0!important;
		padding:0!important;
		
		.row__carousel {
			max-height: 450px;
		}
		.carousel-caption {
			top: 0;
		}
		.epral {
			img {
				width: 100px;
			}
		}

		.frenetikpolis {
			img {
				width: 100px;
			}
		}

		.youtube {
			img {
				width: 100px;
			}
		}
	}
}