@import url(https://fonts.googleapis.com/css?family=Cutive+Mono);
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro:400,400italic,700,700italic);

 .nav-pills > li > a.active,
 .nav-pills > li > a.active:hover,
 .nav-pills > li > a.active:focus {
    color: #FFF;
    background-color: #337AB7;
}



@keyframes fadeIn {
  to {
    opacity: 1;
  }	
}

.fade-in {
  opacity: 0;
  animation: fadeIn .50s ease-in 1 forwards;
}

.is-paused {
  animation-play-state: paused;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}